<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\TechLine\source\repos\WindowsFormsApp6\WindowsFormsApp6\Database1.mdf; Integrated Security = True" name="Db_Test" />
    <add connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\TechLine\source\repos\WindowsFormsApp6\WindowsFormsApp6\Database2.mdf; Integrated Security = True" name="Db_Test1"/>
  </connectionStrings>
</configuration>